body {
  color: white;
  background: black;
  margin: 0;

  font-family: 'PP Mondwest', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
  font-weight: lighter;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin: 0;
}
